/data/raw_reports/*
!/data/raw_reports/.gitkeep
/data/logs/*
!/data/logs/.gitkeep
/data/txt_reports/*
!/data/txt_reports/.gitkeep
/data/json_reports/*
!/data/json_reports/.gitkeep
/data/filtered_reports/*
!/data/filtered_reports/.gitkeep